---
import "../styles/globals.css";
---

<section id="about" aria-label="About me">
  <div
    class="sticky top-0 z-30 w-screen py-3 backdrop-blur-xl lg:hidden"
  >
    <h2 class="text-lg font-bold uppercase tracking-widest text-neutral-200">
      Sobre Mi
    </h2>
  </div>
  <p class="text-sm leading-relaxed lg:leading-[1.75]">
    Soy Luis, un entusiasta de la programación y actualmente estoy finalizando 
    la carrera de Diseño y Desarrollo de Software en el instituto
    CERTUS. Estoy <strong class="resalt-text"
      >especializado en el desarrollo frontend</strong
    > , utilizando tecnologías como <strong class="resalt-text"
      >React, TypeScript y Tailwind CSS, Next.js y Astro</strong
    >
    para crear interfaces de usuario efectivas y atractivas. Además de mis habilidades
    técnicas, cuento con un <strong class="resalt-text"
      >nivel de ingles intermedio</strong
    > y me considero una persona responsable, puntual y con una excelente capacidad
    para integrarme en equipos de trabajo. La colaboración y la comunicación efectiva
    son fundamentales para mí, y siempre busco contribuir positivamente en cada proyecto
    en el que participo.
  </p>
</section>
