<section id="experience" aria-label="Experiencia">
    <div
      class="sticky top-0 z-30 w-screen py-3 backdrop-blur-xl md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
    >
      <h2 class="text-lg font-bold uppercase tracking-widest text-neutral-200">
        Experiencia
      </h2>
    </div>
  
    <div class="w-full flex flex-col gap-6 mt-7 max-w-[800px] mx-auto">
      <!-- Maxillaris Card -->
      <div class="flex flex-col lg:flex-row items-start gap-4 bg-color-hover rounded-xl p-6 shadow-md lg:bg-transparent lg:border-2 lg:border-color-hover lg:hover:bg-color-hover duration-150">
        <img src="/imgs/Maxillaris.jpeg" alt="Maxillaris" class="w-16 h-16 object-cover rounded-lg shadow-sm">
        
        <div class="flex flex-col gap-2 text-sm">
          <div>
            <h3 class="text-base font-bold text-neutral-100">Desarrollador Web</h3>
            <p class="text-neutral-300">
              Centro Odontológico Especializado Maxillaris <br />
              <span class="text-xs text-neutral-400">(25/01/2025 - Presente)</span>
            </p>
          </div>
  
          <p class="text-neutral-400 leading-relaxed">
            Desarrollé nuevos procesos y brindé soporte a una ERP de la empresa.
          </p>
  
          <ul class="list-disc list-inside text-neutral-400 pl-1 space-y-1">
            <li>
              Implementación de <strong class="text-neutral-100">webSockets con Socket.IO</strong> para comunicación en tiempo real.
            </li>
            <li>
              Creación de nuevos proyectos con <strong class="text-neutral-100">Next.js y React</strong> bajo una arquitectura de microfrontends.
            </li>
            <li>
              Soporte y mantenimiento del sistema anterior desarrollado en <strong class="text-neutral-100">Angular</strong>.
            </li>
            <li>
              Desarrollo de nuevos servicios backend con <strong class="text-neutral-100">NestJS</strong> y <strong class="text-neutral-100">PostgreSQL</strong>.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  